.App {
  text-align: center;
}

.w-80{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.top-row{
  background-color:steelblue;
  color: white;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body-container{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 500px;
  margin: auto;
}

.button{
  flex: 2;
  background-color: rgb(48, 89, 122);
  border: none;
  border-radius: 5px;
  margin-right: 50px;
  font-size: 15px;
  padding: 8px;
  color: white;
}

.button:hover{
  background-color: rgb(35, 65, 90);
  cursor: pointer;
}

.new-array-btn{
  
  text-align: center;
  border-radius: 3px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-array-btn:hover{
  cursor: pointer;
  background-color: rgb(37, 69, 95);
}

.sort{
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-type:hover{
  cursor: pointer;
  color: gold;
}

.size{
  flex: 4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
